loglevel=error
fund=false
update-notifier=false
# disable audit onle when it will be added to CI
audit=true

# pnpm configuration
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
node-linker=isolated
